.flexible-cart{
    display: flex;
    align-items: center;
    border: 1px solid rgb(238, 234, 234);
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.flexible-cart img{
    width: 120px;
    height: 120px;
}
.cart-category-background{
    background-color: darkblue;
    color: #ffffff;
    padding: 2px 8px;
    border-radius: 10px;
}